.Dropdown {
  .dropdown-target {
  }

  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    background-color: rgba($color: #000, $alpha: 0.9);
    backdrop-filter: blur(4);
    color: #fff;
    transition: all 0.3 ease;
    z-index: 99;
  }

  .dropdown-target:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
  }
}
