@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: inter;
  }
}

@layer components {
  button {
    outline: none;
  }

  .auth-btn {
    @apply h-[3.5rem] w-fit rounded-md px-[1.5rem] font-jost text-[1.3rem] font-semibold;
  }

  input:focus-within,
  input:focus-visible {
    outline: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url('../../public/assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    margin-right: 2rem;
    outline: none;
    height: 100%;
    /* color: #edab56; */
    /* color: #3b82f6; */
  }
.auth_bg_overlay {
  position: relative;
}

.auth_bg_overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}
}