@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: inter;
  }
}

@layer components {
  /*  */
  button {
    outline: none;
    /* border: none; */
  }

  .auth-btn {
    @apply h-[3.5rem] w-fit rounded-xl px-[1.5rem] font-poppins text-[1.3rem] font-semibold hover:opacity-95;
  }

  input:focus-within,
  input:focus-visible {
    outline: none;
    /* border: none; */
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url('../../public/assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    /* border: 1px solid #dfdfdf; */
    /*  border-radius: 2px;*/
    margin-right: 2rem;
    outline: none;
    height: 100%;
  }
}
