@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: 'poppins';
    src: url('/assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
  }

  @font-face {
    font-family: 'matter';
    src: url('/assets/fonts/Matter SQ Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'matter';
    src: url('/assets/fonts/matter.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }

  html {
    font-size: 62.5%;
  }
}

@layer components {
  /*  */
  button {
    outline: none;
    /* border: none; */
  }

  .auth-btn {
    @apply h-[3.5rem] w-fit rounded-xl px-[1.5rem] font-poppins text-[1.3rem] font-semibold hover:opacity-95;
  }

  input:focus-within,
  input:focus-visible {
    outline: none;
    border: none;
  }
}
